html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Roboto Mono', monospace;

    
}




header .contenedor {
    display: flex;
    justify-content: space-between;
}

header ul {
    display: flex;
}

header ul li {
    list-style: none;
    margin-right: 15px;
}

a {
    text-decoration: none;
}

.contenedor {
    max-width: 1280px;
    width: 90%;
    margin: auto;
}

header {
     background: linear-gradient(rgba(28, 31, 73, 0.4),rgba(24, 56, 88, 0.4)), url(../images/portada.jpg);
     height: 100vh;
     background-size: cover;

}

#contenedor-titulo-flex {
    display: flex;
    justify-content: center;
    margin: 18vh;
}

h1 {
    font-size: 60px;
    color: #ffffff;
    margin: 0;
}

h2 {
    font-size: 25px;
    color: #ffffff;
    text-align: center;
}
.contenedor-titulo a, #sobre-nosotros a, #blog a, #que-esperas a, #contacto input[type="submit"] {
    font-size: 14px;
    color: #ffffff;
    background: black;
    padding: 14px 24px;
    display: inline-block; 
}

.contenedor-titulo {
    text-align: center;
}

p.logo {
    font-size: 20px;
    color: #ffffff;
}

nav ul li a {
    color: #ffffff;
}

/*Seccion sobre mi*/



h3 {
    text-align: center;
    font-size: 55px;
    font-weight: bold;
}

#sobre-nosotros .contenedor-nosotros {
    display: flex;
    justify-content: space-around;
}

#sobre-nosotros .texto {
    width: 42%;
}

/*Seccion servicios*/

.contenedor-servicios {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.servicio {
    width: 24%;
    padding: 34px 30px 38px 30px;
    border-radius: 10px;
    margin-bottom: 40px;
    position: relative;
    
}

.servicio h4 {
    font-size: 30px;
    margin: 0;
}

.servicio p {
    margin-bottom: 20px;
    height: 200px;
}

.contenedor-servicios .servicio {
    box-shadow:  13px 14px 20px 2px rgb(63, 60, 158);
    -moz-box-shadow: 13px 14px 20px 2px rgba(63, 60, 158);
    box-shadow: 13px 14px 20px 2px rgba(63, 60, 158);
}

/*Mis trabajos*/



span {
    font-size: 50px !important;

}

/*Por que trabajar conmigo*/



.contendor-trabajar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#por-que-trabajar .item {
    width: 28%;
}

#por-que-trabajar ul li {
    text-align: center;
    list-style: none;
}

#por-que-trabajar ul li:nth-child(2) {
    font-weight: bold;
    font-size: 19px;
    margin-top: 5px;
    margin-bottom: 20px;
}

#por-que-trabajar ul li:nth-child(3) {
    line-height: 31px;
}

/*Seccion publicaciones*/



#blog .contenedor-publicaciones {
    display: flex;
    justify-content: space-around;
}

#blog .publicacion {
     width: 36%;
     -webkit-box-shadow: 14px 14px 25px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 14px 14px 25px 0px rgba(0,0,0,0.75);
    box-shadow: 14px 14px 25px 0px rgba(0,0,0,0.75);
    border-radius: 10px;
}

#blog img {
    width: 100%;
}

#blog .contenido {
    padding: 20px;
    background-color: #ffffff;
}

#blog h4 {
     font-size: 23px;
     margin-bottom: 15px;
     margin: 0 ;
}

#blog p {
    color: #5a6169;
    font-size: 16px;
    line-height: 23px;
}

/*SECCION QUE ESPERAS*/

#que-esperas {
    text-align: center;
    padding: 20px 0;
}

/*FORMULARIO*/

#contacto form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
}

input[type="email"] {
    width: 49%;
    margin-bottom: 15px;
    padding: 18px 0;
    border: 0;
    border-bottom: 1px solid #5cb8ff;
    font-size: 17px;
}

input[type="text"] {
    width: 49%;
    margin-bottom: 15px;
    padding: 18px 0;
    border: 0;
    border-bottom: 1px solid #5cb8ff;
    font-size: 17px;
    
} 

textarea {
    padding: 18px 0;
    border: 0;
    border-bottom: 1px solid #5cb8ff ;
    font-size: 17px;
    margin-bottom: 40px;
    width: 100%;
}

input[type="submit"] {
    margin: auto;
}

.contacto-info {
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
}

.contacto-info img {
    width: 28px;
    vertical-align: middle;
    margin-right: 10px;
}

footer {
    background: #2f2f2f;
    padding: 40px 0;
    text-align: center;
    margin-top: 40px;
}

footer .contenedor {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

footer img {
    margin: 0 40px;
    transform: rotate(0);
    transition: 0,4s;
}
footer img:hover {
    transform: rotate(360deg);
    transition: 0.4s;
}

footer p {
    color: white;
}

/*Whats*/

#whatsapp {
    position: fixed;
    top: 80%;
    right: 5%;
   
}

#sobre-nosotros, #servicios, #mis-trabajos, #por-que-trabajar, #blog, #contacto {
    padding: 90px 0;
}